
@{
    ViewData["Title"] = "Login";
}
    <div class="am-signin-wrapper" id="app_login">
        
        <div class="am-signin-box">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <div>

                    </div>
                </div>
                <div class="col-lg-7">
                    <div v-if="loading === true">
                        validando información ...
                    </div>
                    <div v-if="loading === false">
                        <h5 class="tx-gray-800 mg-b-25">Administrador Ecommerce</h5>
                        <div class="alert alert-warning" role="alert" v-if="Error.Error === true">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Error!</strong> {{ Error.Description }}
                        </div>
                        <div class="alert alert-success" role="alert" v-if="loginSuccess === true">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            Redirigiendo a admin ecommerce
                        </div>
                        <form action="/" method="post" v-on:submit.prevent="doLogin">
                            <div class="form-group">
                                <label class="form-control-label">Usuario Splinet:</label>
                                <input type="text" name="email" class="form-control" placeholder="introduce tu usuario" v-model="userData.User">
                            </div><!-- form-group -->

                            <div class="form-group">
                                <label class="form-control-label">Contraseña:</label>
                                <input type="password" name="password" class="form-control" placeholder="Introduce tu contraseña" v-model="userData.Contrasena">
                            </div><!-- form-group -->
                            <button type="submit" class="btn btn-block">Entrar</button>
                        </form>
                    </div>
                </div><!-- col-7 -->
            </div><!-- row -->
            @*<p class="tx-center tx-white-5 tx-12 mg-t-15">Copyright &copy; 2017. All Rights Reserved. Amanda by ThemePixels</p>*@
        </div><!-- signin-box -->
    </div><!-- am-signin-wrapper -->
@section Scripts {
    <script>
        var app_login = new Vue({
            el: '#app_login',
            data: {
                userData: {
                    User: "",
                    Contrasena: ""
                },
                Error: {
                    Error: false,
                    Description: ""
                },
                loginSuccess: false,
                loading: false
            },
            methods: {
                doLogin: function (evt) {
                    this.loading = true;
                    evt.preventDefault();
                    RequestVerificationToken = document.querySelector("input[name=__RequestVerificationToken]").value
                    const headers = {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': RequestVerificationToken
                    }
                    axios.post('@Url.Action("Create","Login")', this.userData,{headers: headers}).then(response => {
                        console.log(response.data);
                        this.Error.Error = response.data.error;
                        this.Error.Description = response.data.description;
                        if (response.data.error == false) {
                            this.loginSuccess = true;
                            //router.go('');
                            window.location = '../Home';
                        } else {
                            this.loginSuccess = false;
                        }
                    }).catch(error => {
                        console.log(error)
                        this.Error.Error = true;
                        this.loginSuccess = false;
                        this.Error.Description = error.message;
                    }).finally(() => this.loading = false)
                }
            }
        })
    </script>
}

