
@{
    ViewData["Title"] = "Mis clientes";
}

<div class="pcoded-inner-content" id="app_BussinesPartnerList">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Mis clientes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- [ basic-table ] start -->
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Mis clientes</h5>
                            @*<span class="d-block m-t-5">use class <code>table</code> inside table element</span>*@
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm table-responsive-sm" >
                                    <theah>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Nombre</th>
                                            <th>Activo en ecommerce</th>
                                        </tr>
                                    </theah>
                                    <tbody>
                                        <tr v-for="item in userData.records">
                                            <td>{{ item.cardCode }}</td>
                                            <td>{{ item.cardName }}</td>
                                            <td>{{ item.isActiveEcomerce }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var app_login = new Vue({
            el: '#app_BussinesPartnerList',
            data: {
            userData: {},
            Error: {
                Error: false,
                Description: ""
            },
            loginSuccess: false,
            loading: false
        },
        mounted() {
            axios.get('./ListUserLoged').then(response => {
            
                this.userData = response.data;
                console.log(this.userData);
                //this.Error.Error = response.data.error;
                //this.Error.Description = response.data.description;
                //if (response.data.error == false) {
                //    this.loginSuccess = true;
                //    //router.go('');
                //    window.location = '../Home';
                //} else {
                //    this.loginSuccess = false;
                //}
            }).catch(error => {
                console.log(error);
                //this.Error.Error = true;
                //this.loginSuccess = false;
                //this.Error.Description = error.message;
            }).finally(() => this.loading = false);
        },
        methods: {
        
        }
        })
    </script>
}

