
@{
    ViewData["Title"] = "Pedidos en proceso";
}
    <div id="app_DocumentList">

        <div class="card pd-20 pd-sm-40">
            <div>
                <h6 class="card-body-title">Pedidos en proceso</h6>
                @*<p class="mg-b-20 mg-sm-b-30">The default collapse behavior to create an accordion.</p>*@
            </div>
            <div>
                <div class="table-responsive">
                    <div v-if="loading === true">
                        cargando ...
                    </div>
                    <div v-if="loading === false">
                        <div v-if="RecordCound == 0"><h1>Sin registros</h1></div>
                        <div v-if="RecordCound > 0">
                            <table class="table table-bordered table-sm table-responsive-sm" id="table_documents">
                                <thead>
                                    <tr>
                                        <th>No.Ecom</th>
                                        <th>No.Cotizacion SAP</th>
                                        <th>Cliente</th>
                                        <th>Nombre</th>
                                        <th>Fecha</th>
                                        <th>Total</th>
                                        <th>Moneda</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in userData.records">
                                        <td>{{ item.docNumEcommerce }}</td>
                                        <td><a href="#" v-on:click="ShowDocumentLines(item.docNum,item.docType)" title="Ver articulos" class="">{{ item.docNum }}</a></td>
                                        <td>{{ item.cardCode }}</td>
                                        <td>{{ item.cardname }}</td>
                                        <td>{{ item.docDate | moment  }}</td>
                                        <td>${{ formatPrice(item.docTotal) }}</td>
                                        <td>{{ item.docCur }}</td>
                                        <td>{{ item.status }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    <script>
        var app_login = new Vue({
            el: '#app_DocumentList',
            data: {
                userData: {},
                Error: {
                    Error: false,
                    Description: ""
                },
                RecordCound: 0,
                loading: true
            },
            async mounted() {
                RequestVerificationToken = document.querySelector("input[name=__RequestVerificationToken]").value
                    const headers = {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': RequestVerificationToken
                    }
                await axios.post('./DataList', null,headers).then(response => {
                    this.userData = response.data;
                    this.RecordCound = this.userData.count;
                    console.log(this.userData);
                }).catch(error => {
                    console.log(error);
                }).finally(() => this.loading = false);
                $('#table_documents').DataTable();
            },
            methods: {
                ShowDocumentLines: function (DocEntry, DocType) {
                    window.location = '../DocumentLines/List/' + DocEntry + '/' + DocType;
                },
                formatPrice: function (value) {
                    let val = (value / 1).toFixed(2).replace('.', ',')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
                },
                GetListDocuments: function () {
                    RequestVerificationToken = document.querySelector("input[name=__RequestVerificationToken]").value
                        const headers = {
                            'Content-Type': 'application/json',
                            'RequestVerificationToken': RequestVerificationToken
                        }
                    axios.post('./DataList', null,headers).then(response => {
                        this.userData = response.data;
                        this.RecordCound = this.userData.count;
                        console.log(this.userData);
                    }).catch(error => {
                        console.log(error);
                    }).finally(() => this.loading = false);
                    $('#table_documents').DataTable();
                }
            },
            filters: {
                momentFull: function (date) {
                    return moment(date).format('MMMM Do YYYY, h:mm:ss a');
                },
                moment: function (date) {
                    return moment(date).locale('es').format('MMMM Do YYYY');
                }
            }
        })
    </script>
}



